<style>
  .v1-card {
    padding: 0 calc(100vw * 20 / var(--base-width));
    background-color: #fff;
  }
  .v1-card-content {
    margin: 0 auto;
    padding-top: calc(100vw * 120 / var(--base-width));
    padding-bottom: calc(100vw * 140 / var(--base-width));
  }
  .card-box {
    margin-bottom: calc(100vw * 120 / var(--base-width));
  }
  .v1-card-content .card-box:last-child {
    margin-bottom: 0;
  }
  .card-title-box {
    width: 100%;
    border-bottom: 0.4px solid #191919;
    padding-bottom: calc(100vw * 30 / var(--base-width));
  }
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    column-gap: calc(100vw * 20 / var(--base-width));
  }
  .card-title span {
    min-width: calc(100vw * 278 / var(--base-width));
    font-size: calc(100vw * 16 / var(--base-width));
    line-height: 1;
    color: #0d0d0d;
  }
  .card-title h2 {
    width: calc(100vw * 816 / var(--base-width));
    font-size: calc(100vw * 40 / var(--base-width));
    font-weight: 400;
    line-height: calc(100vw * 46 / var(--base-width));
    color: #191919;
    margin: 0;
  }
  .card-info-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: calc(100vw * 30 / var(--base-width));
    column-gap: calc(100vw * 20 / var(--base-width));
  }
  .card-img-mb {
    display: none;
  }
  .card-info-img {
    max-width: calc(100vw * 278 / var(--base-width));
    border-radius: 8px;
    overflow: hidden;
  }
  .card-info-info {
    width: calc(100vw * 816 / var(--base-width));
  }
  p.card-info-p {
    font-size: calc(100vw * 18 / var(--base-width));
    line-height: calc(100vw * 24 / var(--base-width));
    color: #191919;
  }
  .info-p-1,
  .card-info-ul {
    margin-bottom: calc(100vw * 35 / var(--base-width));
  }
  .card-info-ul li {
    font-size: calc(100vw * 18 / var(--base-width));
    line-height: calc(100vw * 24 / var(--base-width));
    color: #191919;
    padding-left: calc(100vw * 20 / var(--base-width));
    position: relative;
  }
  .card-info-ul li::before {
    content: '';
    width: 8px;
    height: 8px;
    color: #0522cb;
    background-color: #0522cb;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  p.info-p-2 span {
    color: #324eef;
    text-decoration: underline;
  }
  @media screen and (max-width: 750px) {
    .v1-card-content {
      padding-top: calc(100vw * 170 / var(--base-width));
      padding-bottom: calc(100vw * 100 / var(--base-width));
    }
    .card-box {
      margin-bottom: calc(100vw * 100 / var(--base-width));
    }
    .card-info {
      display: none;
    }
    .card-img-mb {
      display: block;
      margin-bottom: calc(100vw * 50 / var(--base-width));
    }
    .card-title {
      align-items: flex-start;
      position: relative;
    }
    .card-title span {
      font-size: calc(100vw * 20 / var(--base-width));
      line-height: 1;
      position: absolute;
    }
    .card-title h2 {
      font-size: calc(100vw * 50 / var(--base-width));
      line-height: calc(100vw * 50 / var(--base-width));
      text-align: center;
    }
    .card-info-img {
      display: none;
    }
    .info-p-1,
    .card-info-ul {
      margin-bottom: calc(100vw * 70 / var(--base-width));
    }
    p.card-info-p {
      font-size: calc(100vw * 26 / var(--base-width));
      line-height: calc(100vw * 30 / var(--base-width));
    }
    .card-info-ul li {
      font-size: calc(100vw * 26 / var(--base-width));
      line-height: calc(100vw * 32 / var(--base-width));
      padding-left: calc(100vw * 28 / var(--base-width));
      position: relative;
    }
    .card-info-ul li::before {
      content: '';
      width: calc(100vw * 12 / var(--base-width));
      height: calc(100vw * 12 / var(--base-width));
      border-radius: 50%;
      top: calc(100vw * 16 / var(--base-width));
      left: 0;
      transform: translateY(-50%);
    }
  }
</style>
<div class="v1-card">
  <div class="v1-card-content">
    {% for block in section.blocks %}
      <div class="card-box">
        <div class="card-img-mb">
          <img src="{{ block.settings.item_img_mb | image_url: width: master }}" alt="">
        </div>
        <div class="card-title-box">
          <div class="card-title">
            <span>{{ block.settings.item_num }}</span>
            <h2>{{ block.settings.item_title }}</h2>
          </div>
        </div>
        <div class="card-info-box">
          <div class="card-info-img">
            <img src="{{ block.settings.item_img | image_url: width: master }}" alt="">
          </div>
          <div class="card-info-info">
            <p class="card-info-p info-p-1">{{ block.settings.item_info_1 }}</p>
            <ul class="card-info-ul">
              {% if block.settings.item_info_li_1 != blank %}
                <li>{{ block.settings.item_info_li_1 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_2 != blank %}
                <li>{{ block.settings.item_info_li_2 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_3 != blank %}
                <li>{{ block.settings.item_info_li_3 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_4 != blank %}
                <li>{{ block.settings.item_info_li_4 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_5 != blank %}
                <li>{{ block.settings.item_info_li_5 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_6 != blank %}
                <li>{{ block.settings.item_info_li_6 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_7 != blank %}
                <li>{{ block.settings.item_info_li_7 }}</li>
              {% endif %}
              {% if block.settings.item_info_li_8 != blank %}
                <li>{{ block.settings.item_info_li_8 }}</li>
              {% endif %}
            </ul>
            <p class="card-info-p info-p-2">
              {{ block.settings.item_info_2 }}
              <span> {{ block.settings.item_info_span }}</span>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "V1 Card",
  "settings": [],
  "blocks": [
    {
      "type": "card_item",
      "name": "Card Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "item_img",
          "label": "PC Image"
        },
        {
          "type": "image_picker",
          "id": "item_img_mb",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "item_num",
          "label": "Item No.",
          "default": "A01"
        },
        {
          "type": "text",
          "id": "item_title",
          "label": "Item Title",
          "default": "Selecting a Filter Bag"
        },
        {
          "type": "textarea",
          "id": "item_info_1",
          "label": "Info 1"
        },
        {
          "type": "textarea",
          "id": "item_info_2",
          "label": "Info 2"
        },
        {
          "type": "textarea",
          "id": "item_info_span",
          "label": "Info 2-Special",
          "default": "specific needs."
        },
        {
          "type": "header",
          "content": "Desc",
          "info": "预留了8个Desc的位置，不填则不会显示"
        },
        {
          "type": "textarea",
          "id": "item_info_li_1",
          "label": "Desc 1"
        },
        {
          "type": "textarea",
          "id": "item_info_li_2",
          "label": "Desc 2"
        },
        {
          "type": "textarea",
          "id": "item_info_li_3",
          "label": "Desc 3"
        },
        {
          "type": "textarea",
          "id": "item_info_li_4",
          "label": "Desc 4"
        },
        {
          "type": "textarea",
          "id": "item_info_li_5",
          "label": "Desc 5"
        },
        {
          "type": "textarea",
          "id": "item_info_li_6",
          "label": "Desc 6"
        },
        {
          "type": "textarea",
          "id": "item_info_li_7",
          "label": "Desc 7"
        },
        {
          "type": "textarea",
          "id": "item_info_li_8",
          "label": "Desc 8"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "V1 Card"
    }
  ]
}
{% endschema %}
