<link rel="stylesheet" href="https://unpkg.com/swiper@11/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
<style>
  .v1-swiper p {
    margin: 0;
    padding: 0;
    line-height: 1;
  }
  .v1-swiper {
    border-top: 0.3px solid rgba(26, 26, 26, 0.3);
    background-color: #fff;
  }
  .v1-swiper-content {
    padding: 0 calc(100vw * 20 / var(--base-width));
    padding-bottom: calc(100vw * 130 / var(--base-width));
  }
  .v1-swiper-top {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: calc(100vw * 30 / var(--base-width)) 0;
  }
  .v1-swiper-info {
    max-width: calc(100vw * 770 / var(--base-width));
    text-align: left;
  }
  .v1-swiper-desc {
    color: #1a1a1a;
    font-family: 'Fusion Pixel';
    font-size: calc(100vw * 16 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: calc(100vw * 10 / var(--base-width));
  }
  .v1-swiper-info .v1-swiper-info-1 {
    color: #1a1a1a;
    font-family: 'OPPO Sans';
    font-size: calc(100vw * 20 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 26 / var(--base-width));
    letter-spacing: calc(100vw * -0.6 / var(--base-width));
    text-transform: capitalize;
    margin-bottom: calc(100vw * 20 / var(--base-width));
  }
  .v1-swiper-info .v1-swiper-h2 {
    color: #1a1a1a;
    font-family: 'OPPO Sans';
    font-size: calc(100vw * 60 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 66 / var(--base-width));
    letter-spacing: calc(100vw * -1.8 / var(--base-width));
    text-transform: capitalize;
    margin: 0;
  }
  .v1-swiper-info .v1-swiper-info-2 {
    color: #1a1a1a;
    font-family: Matter;
    font-size: calc(100vw * 16 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 22 / var(--base-width));
    margin-top: calc(100vw * 20 / var(--base-width));
  }
  .swiper-slide-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .swiper-slide-item img {
    border-radius: 4px;
    overflow: hidden;
  }
  .v1-swiper p.swiper-slide-item-info {
    color: #1a1a1a;
    font-family: Matter;
    font-size: calc(100vw * 20 / var(--base-width));
    font-style: normal;
    font-weight: 400;
    line-height: calc(100vw * 24 / var(--base-width));
    letter-spacing: calc(100vw * -0.6 / var(--base-width));
    text-transform: capitalize;
    margin-top: calc(100vw * 15 / var(--base-width));
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: calc(100vw * 40 / var(--base-width));
    height: calc(100vw * 40 / var(--base-width));
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: #fff;
    background-color: #0522cb;
  }
  .swiper-button-next:hover svg path,
  .swiper-button-prev:hover svg path {
    stroke: #fff;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: '';
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: '';
  }
  @media screen and (max-width: 1200px) {
    .v1-swiper-info .v1-swiper-h2 {
      font-size: calc(100vw * 56 / var(--base-width));
      line-height: calc(100vw * 60 / var(--base-width));
    }
  }
  @media screen and (max-width: 750px) {
    .v1-swiper-desc {
      font-size: calc(100vw * 26 / var(--base-width));
      line-height: calc(100vw * 22 / var(--base-width));
      margin-bottom: calc(100vw * 15 / var(--base-width));
    }
    .v1-swiper-info .v1-swiper-h2 {
      font-size: calc(100vw * 70 / var(--base-width));
      line-height: calc(100vw * 76 / var(--base-width));
    }
    .v1-swiper-info .v1-swiper-info-1 {
      font-size: calc(100vw * 28 / var(--base-width));
      line-height: calc(100vw * 34 / var(--base-width));
    }
    .v1-swiper-info .v1-swiper-info-2 {
      font-size: calc(100vw * 26 / var(--base-width));
      line-height: calc(100vw * 32 / var(--base-width));
    }
    .swiper-button-next,
    .swiper-button-prev {
      width: calc(100vw * 70 / var(--base-width));
      height: calc(100vw * 70 / var(--base-width));
    }
    .v1-swiper p.swiper-slide-item-info {
      font-size: calc(100vw * 26 / var(--base-width));
      line-height: calc(100vw * 32 / var(--base-width));
      margin-top: calc(100vw * 20 / var(--base-width));
    }
  }
</style>
<div class="v1-swiper">
  <div class="v1-swiper-content">
    <div class="v1-swiper-top">
      <span class="v1-swiper-desc">{{ section.settings.swiper_desc }}</span>
      <div class="v1-swiper-info">
        <p class="v1-swiper-info-1">{{ section.settings.swiper_info_1 }}</p>
        <h2 class="v1-swiper-h2">{{ section.settings.swiper_title }}</h2>
        <p class="v1-swiper-info-2">{{ section.settings.swiper_info_2 }}</p>
      </div>
    </div>
    <div class="v1-swiper-bottom">
      <div class="swiper v1-swiper-box">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="swiper-slide-item">
                <picture>
                  <source
                    media="(max-width: 767px)"
                    srcset="{{ block.settings.slide_img_mb | image_url: width: master }}"
                  >
                  <source
                    media="(min-width: 768px)"
                    srcset="{{ block.settings.slide_img | image_url: width: master }}"
                  >
                  <img src="{{ block.settings.slide_img | image_url: width: master }}" alt="">
                </picture>
                <p class="swiper-slide-item-info">{{ block.settings.slide_info }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M18.5 14L12.5 20M12.5 20L18.5 26M12.5 20L25 20" stroke="#191919"/>
          </svg>
        </div>
        <div class="swiper-button-next">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
            <path d="M21.5 26L27.5 20M27.5 20L21.5 14M27.5 20L15 20" stroke="#191919"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var mySwiper = new Swiper('.v1-swiper-box', {
    slidesPerView: 1,
    spaceBetween: 15,
    grabCursor: true,
    breakpoints: {
      750: {
        slidesPerView: 2,
        spaceBetween: 15,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
    },
    // 如果需要前进后退按钮
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>

{% schema %}
{
  "name": "V1 Swiper",
  "settings": [
    {
      "type": "text",
      "id": "swiper_title",
      "label": "Title",
      "default": "Versatile Applications of Classic Winch Rope"
    },
    {
      "type": "text",
      "id": "swiper_desc",
      "label": "Title Desc",
      "default": "[ thispower ]"
    },
    {
      "type": "textarea",
      "id": "swiper_info_1",
      "label": "Info 1",
      "default": "Applications Of Winch Rope"
    },
    {
      "type": "textarea",
      "id": "swiper_info_2",
      "label": "Info 2"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_img",
          "label": "PC Image"
        },
        {
          "type": "image_picker",
          "id": "slide_img_mb",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "slide_info",
          "label": "Slide Info",
          "default": "Off-Road"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "V1 Swiper"
    }
  ]
}
{% endschema %}
